@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
*{
  font-family: "Poppins", sans-serif;
}
body{
  background: linear-gradient(135deg, #0a1f44, #112d5e, #1a3b78);
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 20px;
  color: white;
  margin-top: 18px;
  cursor: pointer;
}
.red{
  height: 30px;
  min-width: 50px;
  width: 125px;
  border: 1px solid black;
  background-color: purple;
  color: red;
  text-align: center;
  border-radius: 10px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(50, 58, 66);
  width: 100%;
}

@keyframes leftRight {
  from{
    opacity: 0;
    transform: translateX(-12px), rotate(45deg);
  }
  to{
    opacity: 1;
    transform: translateX(26px), rotate(180deg);
  }
}
.leftRightanimation{
  animation: leftRight 0.7s ease-in-out forwards;
}
